/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* common style or utilities */
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}
main {
}
/* top banner */
nav {
  text-align: center;
  padding-bottom: 5%;
}
.top-part {
  background-color: #2d25a0;
}
.banner-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  justify-items: center;
  padding-bottom: 5%;
  padding: 5% 5%;
}
.banner-detail h1 {
  font-size: 64px;
  color: white;
}
.btn-style {
  width: 168px;
  height: 44px;
  background-color: #e02c6d;
  color: white;
  border: 0.1px solid #e02c6d;
  margin: 24px 8px;
  font-size: 16px;
}
.ban-image {
  width: 556.01px;
  height: 438px;
  justify-content: center;
}
/*
------ grid section style --------
*/
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 27px;
  margin: 2% 2%;
  padding: 5%;
  background-color: whitesmoke;
}
.player-content {
  background-color: white;
  justify-items: center;
  padding: 5%;
  border: 1px solid goldenrod;
}
.player-images {
  width: 100%;
  height: 300px;
}
p {
  font-size: 16px;
}
.player-detail {
  color: #6c6c6c;
}

h3 {
  font-size: 28px;
}
